/** GENERAL CSS */
body {
  background-color: black;
}
body, a {
  font-family: -apple-system, Sans-Serif;
  font-size: 24pt;
  color: #c5478a;
}
a:hover {
  color: white;
}

/** APPLICATION */
#app {
  text-align: center;
}

#logo {
  animation: flickerAnimation 2s infinite;
}

/** ANIMATIONS */
@keyframes flickerAnimation {
  0%   { opacity:1; }
  80%  { opacity:0.1; }
  90% { opacity:1; }
  95%  { opacity:0.2; }
  100% { opacity:1; }
}
